# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment files
.env
.env.local
.env.*.local

# Docker
caero_pgdata/
*.pid
*.seed
docker-data/

# VSCode
.vscode/
.history/

# Logs
logs/
*.log
*.gz
*.out
*.zip

# OS
.DS_Store
Thumbs.db

# Build output
dist/
build/
coverage/

# Kerno
.kerno/

# Prisma
#migrations/
users/backend/src/generated/
*.db

/generated/prisma
